<nav class="navbar navbar-expand-lg navbar-light ">
 <div class="container-fluid">
  <div>
   <a class="navbar-brand">CLINICA</a>
  </div>

  <div class="navbar-nav">
   <a routerLink="pacients" routerLinkActive="active" class="nav-link active">pacients list</a>
   <a routerLink="create-pacient" routerLinkActive="active" class="nav-link active">add pacients</a>
  </div>

  <!-- <form class="d-flex input-group w-auto">
   <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" />
   <span class="input-group-text border-0" id="search-addon">
    <i class="bi bi-search"></i>
   </span>
  </form>
 -->
 </div>
</nav>

<body>
 <div>
  <router-outlet></router-outlet>
 </div>
</body>

<footer class="footer">
 <div class="container">
  <span class="footer-text">Angular Spring Boot 2022</span>
 </div>
</footer>